/* Header */
.header{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--bg-1);
    padding: 0 40px;
}

.header .inner-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .inner-logo a{
    display: flex;
    align-items: center;
}

.header .inner-logo img{
    height: 40px;
    width: auto;
}

.header .inner-logo span{
    font-size: 25px;
    font-weight: 800;
    color: var(--color-text);
    margin-left: 10px;
}

.header .inner-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header .inner-menu ul li a{
    display: inline-block;
    padding: 35px 20px;
    color: var(--color-text);
    font-size: 18px;
}

.header .inner-menu ul li a:hover{
    background: #fff;
}

.header .inner-social ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header .inner-social ul li{
    margin-left: 10px;
}

.header .inner-social ul li a{
    display: inline-block;
    text-align: center;
    /* căn giữa */
    line-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: #fff;
    font-size: 20px;
    color: var(--color-text);
}
/*End Header */

/* Section One */
.section-one {
    background-image: url(../images/background1.jpg);
    padding: 100px 150px 280px 150px;
    /* lớp con dùng absolute thì lớp cha phải có relative */
    position: relative; 
}

.section-one .button{
    margin-right: 10px;
}

/* lớp phủ đen */
.section-one::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.section-one .inner-wrap{
    /* sẽ có z-index = 0 và ở dưới before nên sẽ hiện lên trước before */
    position: relative;
}

.section-one .inner-wrap .inner-sub-title{
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
}

.section-one .inner-wrap .inner-title{
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

.section-one .inner-wrap .inner-desc{
    color: #afadad;
}

/* button */
.button{
    color: var(--color-text);
    background: #fff;
    border: 2px solid #fff;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 5px;
}

.button-two {
    background-color: var(--color-two);
    color: var(--color-text);
    border-color: var(--color-two);
}

.button-two:hover{
    background-color: #fff;
    border-color: #fff;
}

.button-two-outline{
    /* trong suốt */
    background: transparent;
    color: #fff;
}

.button-two-outline:hover{
    background-color: var(--color-two);
    color: var(--color-text);
    border-color: var(--color-two);
}



/* end button */
/* End Section One */

/* Section Two */
.section-two{
    padding: 80px 0 50px;
    background: var(--bg-1);
}

.section-two .inner-wrap{
    display: flex;
    align-items: center;
}

.section-two .inner-wrap .inner-image{
    width: 40%;
    margin-right: 5%;
}

.section-two .inner-wrap .inner-image img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.section-two .inner-wrap .inner-content{
    /* element sẽ chiếm phần còn lại của inner-wrap, do inner-image đang chiếm 40% */
    flex: 1;
}

.section-two .inner-wrap .inner-sub-title{
    font-size: 20px;
}

.section-two .inner-wrap .inner-title{
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 20px;
}

.section-two .inner-wrap .inner-list{
    display: flex;
    margin-bottom: 20px;
}

.section-two .inner-wrap .inner-list .inner-item{
    background: #fff;
    margin-right: 50px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* End Section Two */